<h1>Members</h1>
<ul>
{% for member in members %}
	<li>
		{{ member.firstname|e }} <a href="members/edit/{{ member.id|number_format }}">Edit</a>
		<ul>
			{% for project in member.projects %}
				<li><a href="projects/edit/{{ project.id|number_format }}">{{ project.name|e }}</a> Date de fin : {{ project.endDate is empty ? "TBD" : project.endDate|date("d/m/Y") }}</li>
			{% endfor %}
		</ul>
	</li>
{% endfor %}
</ul>

<table>
	<tr>
		<th>Member</th>
	{% for day in period %}
		<th>{{ day|date("d/m/Y") }}</th>
	{% endfor %}
	</tr>
	{% for key, value in membersCalendar %}
	<tr>
		<td>{{ key }}</td>
		{% for key2, value2 in value.periods %}
			<td style = "{{ value2 is empty ? "background-color: white" : "background-color: green" }}">
			{% if value2 is empty %}
				<a href="projects/assign/{{ value.member.id|number_format }}/{{ key2 }}">Assign</a>
			{% else %}
				{{ value2 }}
			{% endif %}
			</td>
		{% endfor %}
	</tr>
	{% endfor %}
</table>